/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ffb727;
}

a:hover {
  color: #ffc85a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #ffb727;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #ffc550;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: rgba(25, 28, 31, 0.8);
}

#header.header-transparent {
  background: rgba(25, 28, 31, 0.3);
}

#header.header-scrolled {
  height: 60px;
  background: rgba(84,63,35);
}

#header .logo{
  font-family: "Satisfy", serif;
  font-size: 24px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  justify-content: center;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ffc85a;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3b434a;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #ffb727;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #3b434a;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #ffb727;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(36, 41, 46, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
/*--------------------------------------------------------------
# Sections Home
--------------------------------------------------------------*/
#home {
    width: 100%;
    height: 110vh;
    background: url("../img/main-bg.jpg") top right;
    background-size: cover;
    position: relative;
  }
  
  #home:before {
    content: "";
    background: linear-gradient(
      to bottom, 
      rgba(0,0,0,0) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%,  
      rgba(0,0,0,1) 100%
  );;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #home .home-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
  }
  
  #home h1 {
    margin-top: 120px;
    margin-bottom: 50px;
    font-size: 72px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  
  #home h2 {
    font-family: "Satisfy", serif;
    color: #eee;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  #home h3 {
    color: #eee;
    margin-top: 110px;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
  #home .btn-scroll {
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.6);
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
  }
  
  #home .btn-scroll i {
    font-size: 48px;
  }
  
  #home .btn-scroll:hover {
    color: #ffb727;
  }
  
  
  @media (max-width: 575px) {
    #home {
        background-position: center;
    }
    #home h1 {
      font-size: 30px;
      text-align: center;
    }
    #home h2 {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  #home .btn-play {
    background-color: #FAB23F;
    border: none;
    color: #362C1C;
    padding: 6px 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }

  #home .btn-play:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: #772106;
    
  }

  

/*--------------------------------------------------------------
# The Game
--------------------------------------------------------------*/
.the-game {
    padding: 80px 0;
    width: 100%;
    height: 100vh;
    background: url("../img/the-games-bg.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  
  .the-game::before {
    content: "";
    background: linear-gradient(
      to bottom, 
      rgba(0,0,0,1) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%,  
      rgba(0,0,0,1) 100%
  );;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #the-game .the-game-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
  }
  
  #the-game h1 {
    margin: 0 0 10px 0;
    margin-top: 80px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  
  #the-game h2 {
    color: #eee;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  
  .the-game .section-header {
    margin-bottom: 40px;
  }
  
  .the-game .the-game-item {
    text-align: center;
    color: #fff;
  }
  
  .the-game .the-game-item .the-game-img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
  }
  .the-game .the-game-item .the-game-bg-img {
    width: 500px;
    height: 250px;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
  }
  
  .the-game .the-game-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
  }
  
  .the-game .the-game-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
  }
  
  .the-game .the-game-item .quote-icon-left, .the-game .the-game-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 26px;
  }
  
  .the-game .the-game-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .the-game .the-game-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  
  .the-game .the-game-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
  }
  
  .the-game .owl-nav, .the-game .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  .the-game .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4) !important;
  }
  
  .the-game .owl-dot.active {
    background-color: #ffb727 !important;
  }
  
  @media (min-width: 1024px) {
    .the-game {
      background-attachment: fixed;
    }
  }
  
  @media (min-width: 992px) {
    .the-game .the-game-item p {
      width: 80%;
    }
  }

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features{
  padding: 80px 0;
  width: 100%;
  height: 150vh;
  background: url("../img/features.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.features:before {
  content: "";
  background: linear-gradient(
    to bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0.3) 10%, 
    rgba(0,0,0,0.3) 90%, 
    rgba(0,0,0,1) 100%
);;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.features .features-title {
  font-size: 56px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 60px;
  color: white;
}

.features .features-sub-title {
  font-size: 18px;
  font-weight: 250;
  margin-top: 100px;
  margin-bottom: 10px;
  color: white;
}

.features .features-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.features .features-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffb727;
  margin-bottom: 10px;
}

.features .features-item h5 {
  font-size: 18px;
  color: white;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 10px;
}

.features .features-item ul {
  padding-left: 20px;
}

.features .features-item ul li {
  padding-bottom: 10px;
}

.features .features-item:last-child {
  padding-bottom: 0;
}

.features .features-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #82909c;
}

/*--------------------------------------------------------------
# Requirement
--------------------------------------------------------------*/
.requirements {
  padding: 80px 0;
  height: 150vh;
  width: 100%;
  background: url("../img/requirements.png") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.requirements:before {
  content: "";
  background: linear-gradient(
    to bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0.3) 10%, 
    rgba(0,0,0,0.3) 90%, 
    rgba(0,0,0,1) 100%
);;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.requirements h1 {
  font-size: 56px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.requirements h2 {
  font-size: 18px;
  font-weight: 250;
  margin-top: 40px;
  margin-bottom: 10px;
  color: white;
}

.table-bordered {
  margin-top: 100px;
  background-color: rgba(0,0,0,0.5);
  
}

.table-bordered td{
  border-style: solid;
  border-color: rgba(149, 165, 166, 0.5);
}
.requirements h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffb727;
}
.requirements h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  
}
/*--------------------------------------------------------------
# Top Score
--------------------------------------------------------------*/
.topscore{
  padding: 80px 0;
  width: 100%;
  height: 150vh;
  background: url("../img/the-games-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.topscore:before {
  content: "";
  background: linear-gradient(
    to bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0.3) 10%, 
    rgba(0,0,0,0.3) 90%, 
    rgba(0,0,0,1) 100%
);;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.topscore h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 200px;
  color: white;
}

.topscore h2 {
  font-size: 20px;
  font-weight: 250;
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
}

.topscore .btn-topscore {
  background-color: #FAB23F;
  border: none;
  color: #362C1C;
  padding: 6px 16px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.topscore .btn-topscore:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #772106;

  
}

.topscore .testimoni {
  width: 400px;
  border-radius: 15px;
  padding: 15px;
  background-color: #1B1D1D;
  margin-top: 30px;
}
.topscore .avatar {
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 7px 2px 0px 0px #FAB23F;
  width: 50px;
  height: 50px;
  
}

.topscore .testimoni .nama-testimoni {
  width: 250px;
  height: 50px;
}



.topscore .testimoni .nama-testimoni .text1 {
  color: #FFB548;
  font-size: 22px;
  font-weight: 500;

}

.topscore .testimoni .nama-testimoni .text2 {
  color: #8C8D8D;
  font-size: 16px;
  font-weight: 500;
}

.topscore .text3 {
  margin-top: 30px;
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 500;
}

.topscore .text4 {
  margin-top: 10px;
  color: #8C8D8D;
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .topscore {
    background-attachment: fixed;
  }
}


/*--------------------------------------------------------------
# News Letter
--------------------------------------------------------------*/
.newsletter{
  padding: 80px 0;
  width: 100%;
  height: 150vh;
  background: url("../img/newsletter.png") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.newsletter:before {
  content: "";
  background: linear-gradient(
    to bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0.3) 10%, 
    rgba(0,0,0,0.3) 90%, 
    rgba(0,0,0,1) 100%
);;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.newsletter .newsletter-title {
  font-size: 56px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.newsletter .newsletter-sub-title {
  font-size: 18px;
  font-weight: 250;
  margin-top: 100px;
  margin-bottom: 10px;
  color: white;
}
.newsletter .newsletter-sub-title2 {
  font-size: 14px;
  font-weight: 250;
  margin-bottom: 100px;
  color: white;
}

.newsletter input[type=text] {
  width: 100%;
  background-color: #1C1E1F;
  border-color: #1C1E1F;
  color: white;
}

.newsletter input[type=submit] {
  background-color: #FAB23F;
  border: none;
  color: #362C1C;
  padding: 6px 16px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 100px;
}

.newsletter input[type=submit]:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #772106;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/



.site-footer
{
  background-color:rgba(0,0,0,0);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer .p-2{
  color: #fff;


}
.site-footer .p-2:hover{
  color: #FAB23F;


}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:10px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  font-size: 12px;
  color: white;
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}